@model WebLearning.Models.ProductViewModel

<section>
    <p style="margin-bottom:10px;margin-left: 10px;"><a href="@Url.Action("Add", "Products")">Add</a></p>
  <header>
    <div class="col">ProductName</div>
    <div class="col">QuantityPerUnit</div>
    <div class="col">UnitPrice</div>
    <div class="col">UnitsInStock</div>
    <div class="col">UnitsOnOrder</div>
    <div class="col">ReorderLevel</div>
    <div class="col">Discontinued</div>
    <div class="col">Supplier</div>
    <div class="col">Category</div>
    <div class="col"></div>
  </header>
  @foreach(var product in Model.Products)
  {
      <div class="row">
        <div class="col">@Html.DisplayFor(x => product.ProductName)</div>
        <div class="col">@Html.DisplayFor(x => product.QuantityPerUnit)</div>
        <div class="col">@Html.DisplayFor(x => product.UnitPrice)</div>
        <div class="col">@Html.DisplayFor(x => product.UnitsInStock)</div>
        <div class="col">@Html.DisplayFor(x => product.UnitsOnOrder)</div>
        <div class="col">@Html.DisplayFor(x => product.ReorderLevel)</div>
        <div class="col">@Html.DisplayFor(x => product.Discontinued)</div>
        <div class="col">@Html.DisplayFor(x => product.Supplier.CompanyName)</div>
        <div class="col">@Html.DisplayFor(x => product.Category.CategoryName)</div>
        <div class="col" style="font-size:12px;"><a href="@Url.Action("Edit", "Products", new {id = product.ProductId})">Edit</a></div>
      </div>
  }
  <div style="display: flex; flex-direction: column; flex-wrap: wrap; margin-top: 50px; justify-content: flex-end;">
    <div>
            @if (Model.HasPrevPage)
            {
                <a href="@Url.Action("Index", "Products", new { pageNumber = Model.PageIndex - 1 })">Prev</a>
            }
            | 
            @if (Model.HasNextPage)
            {
                <a href="@Url.Action("Index", "Products", new { pageNumber = Model.PageIndex + 1 })">Next</a>
            }
        </div>
    <div style="margin-top: 10px;">
        Current page: @Model.PageIndex, On page: @Model.OnPage, TotalRecords: @Model.TotalRecords, TotalPages: @Model.TotalPages
    </div>
  </div>
</section>